#name-title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10em;
  text-align: center;
}

#name-title {
    color: orange;
    font-size: 3em;
}

#alias {
    padding-top: .25em;
    font-size: 1em;
    font-kerning: .3em;
    color: lightgoldenrodyellow;
}

#my-description {
    color: whitesmoke;
    font-size: .9em;
}