body {
  margin: 0;
  padding: 0;
  background-color: #FAF3FE;
}

.ui.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.ui.sidebar {
  position: absolute;
  right: 0;
  height: 100%;
  background-color: black;
}

#alias {
  color: #5E1785;
}

#name-title {
  color: #025634;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 0px;
}

.ui.header {
  padding: 5px;
}

.ui.cards .skillbox {
  padding-top: 8px;
}

.width90 {
  width: 90%;
}

.width10 {
  width: 10%;
}